# unreal stuff
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*_BuiltData.uasset

# Download from https://developer.picoxr.com/resources/#sdk
Plugins/OnlineSubsystemPICO
Plugins/PICOEnterprise
Plugins/PICOXR
Plugins/PicoSpatialAudio
picosdk_v250*
